.offer {
  height: 1060px;
  background-color: #274c5b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-main__description {
  display: flex;
}
.offer-main__btn {
  width: 267px;
  height: 82px;
  background: #efd372;
  border: 1px solid #efd372;
  border-radius: 16px;
}
.offer-list {
  display: flex;
}
