.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-main {
  display: flex;
  align-items: center;
}
.pages {
  display: flex;
  gap: 70px;
  margin-left: 120px;
  margin-right: 375px;
}
.frame {
  width: 159px;
  height: 70px;
}
