.arrow-right {
  width: 38px;
  height: 38px;
  background-color: #335b6b;
  border-radius: 50%;
  border: none;
  background-image: url(../../../img/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 24px;
  margin-right: 9px;
}
